
SeaweedTestMk2/SeaweedTestMk2/bin/Debug/net6.0-windows/apiipaddress.txt
SeaweedTestMk2/SeaweedTestMk2/bin/Debug/net6.0-windows/apiipaddress.txt
SeaweedTestMk2/SeaweedTestMk2/bin/Debug/net6.0-windows/fileripaddress.txt
SeaweedTestMk2/SeaweedTestMk2/bin/Debug/net6.0-windows/folder.txt
SeaweedTestMk2/SeaweedTestMk2/bin/Debug/net6.0-windows/refresh.txt
